@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Roboto&display=swap');

.container {
  font-family: Roboto;
}

.NavigationBar {
    text-align: center;
    font-family: 'Teko';
  }

.HomePage {
    text-align: center;
    font-family: 'Teko';
}

